<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Attraction'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="attraction index large-9 medium-8 columns content">
    <h3><?= __('Attraction') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('attractionId') ?></th>
                <th><?= $this->Paginator->sort('attractionName') ?></th>
                <th><?= $this->Paginator->sort('address') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($attraction as $attraction): ?>
            <tr>
                <td><?= $this->Number->format($attraction->attractionId) ?></td>
                <td><?= h($attraction->attractionName) ?></td>
                <td><?= h($attraction->address) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $attraction->attractionId]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $attraction->attractionId]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $attraction->attractionId], ['confirm' => __('Are you sure you want to delete # {0}?', $attraction->attractionId)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
